# temp files
*~
*.pyc
.ipynb_checkpoints/
__pycache__/

# data and labels
*.jpeg
*.jpg
*.png
*.json

# weights
*.pt
*.pth

# data, outputs, weights directory
data/
outputs/
weights/

# jupyter notebook
*.ipynb
